<div id="customers-wrapper"></div>
<script type="text/javascript">
var server_url = 'https://5bda827f.ngrok.io';

var login_message = '';

render_ui();

function render_ui() {
    var customer_email = get_customer_email();
    var customer_token = get_customer_token();

    document.getElementById('customers-wrapper').innerHTML = '';

    var login_html =
    '<form method="POST" name="login">' +
        '<label>' + login_message + '</label>' +
        '<label>Email</label>' +
        '<input type="text" name="email">' +
        '<label>Password</label>' +
        '<input type="password" name="password">' +
        '<input type="submit" value="Log In">' +
    '</form>';

    var customer_html = '<p>You are logged in as: ' + customer_email + '.</p>';

    var customer_endpoint = server_url + '/customer';
    customer_req = new XMLHttpRequest();
    customer_req.addEventListener('load', function () {
        var customer = JSON.parse(this.responseText);
        if (customer['authenticated']) {
            document.getElementById('customers-wrapper').innerHTML = customer_html;
        } else {
            document.getElementById('customers-wrapper').innerHTML = login_html;
            var form = document.getElementsByName('login')[0];
            if (form.addEventListener) {
                form.addEventListener('submit', login, false);
            } else if (form.attachEvent) {
                form.attachEvent('onsubmit', login);
            }
        }
    });
    customer_req.open('POST', customer_endpoint);
    customer_req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    customer_req.send('customer_email=' + customer_email + '&customer_token=' + customer_token);
}

function login(e) {
    e.preventDefault();
    var email = document.getElementsByName('email')[0].value;
    var password = document.getElementsByName('password')[0].value;
    var customer_login_endpoint = server_url + '/customer-login';
    var customer_login_req = new XMLHttpRequest();
    customer_login_req.addEventListener('load', function () {
        var customer = JSON.parse(this.responseText);
        set_customer_token(customer['customer_token']);
        login_message = customer['login_message'];
        render_ui();
    });
    customer_login_req.open('POST', customer_login_endpoint);
    customer_login_req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    customer_login_req.send('customer_email=' + email + '&customer_password=' + password);
}

function logout() {
    //
}

function set_customer_email(email) {
    localStorage.setItem('CUSTOMER_EMAIL', email);
}

function get_customer_email() {
    return localStorage.getItem('CUSTOMER_EMAIL');
}

function set_customer_token(token) {
    localStorage.setItem('CUSTOMER_TOKEN', token);
}

function get_customer_token() {
    return localStorage.getItem('CUSTOMER_TOKEN');
}
</script>
