<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/styles/seaff.css">
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
        <script type="text/javascript">
            ShopifyApp.init({
                apiKey: '<%= app_api_key %>',
                shopOrigin: 'https://<%= shop_name %>.myshopify.com'
            });
        </script>
        <script src="/scripts/script.js"></script>
    </head>
    <body>
        <div id="wrapper"></div>
    </body>
</html>
