<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>TODO This is the install page</h1>
        <form action="/auth" method="GET">
            <input type="text" name="shop" placeholder="shopname">
            <input type="submit" value="Install">
        </form>
    </body>
</html>
