<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">window.top.location.href = "https://<%= shop %>.myshopify.com/admin/oauth/authorize?client_id=<%= api_key %>&scope=<%= scope %>&redirect_uri=<%= redirect_uri %>"</script>
    </head>
</html>
